.panel.panel-default
  .panel-body
    %dl
      %dt= Contact.human_attribute_name(:name)
      %dd= contact.name
      %dt= Contact.human_attribute_name(:title)
      %dd= contact.title
      %dt= Contact.human_attribute_name(:email)
      %dd= contact.email
      %dt= Contact.human_attribute_name(:fax)
      %dd= contact.fax
      %dt= Contact.human_attribute_name(:phone)
      %dd= contact.phone
      %dt= Contact.human_attribute_name(:extension)
      %dd= contact.extension
