%dl.dl-horizontal
  %dt= Location.human_attribute_name :id
  %dd= location.id
  %dt= Location.human_attribute_name :slug
  %dd= location.slug
  %dt= Location.human_attribute_name :name
  %dd= location.name
  %dt= Location.human_attribute_name :short_desc
  %dd= location.short_desc
  %dt= Location.human_attribute_name :description
  %dd= location.description
  %dt= Location.human_attribute_name :hours
  %dd= location.hours
  %dt= Location.human_attribute_name :transportation
  %dd= location.transportation
  %dt= Location.human_attribute_name :latitude
  %dd= location.latitude
  %dt= Location.human_attribute_name :longitude
  %dd= location.longitude
  %dt= Location.human_attribute_name :urls
  %dd
    %ul.list-unstyled
      - location.urls.each do |url|
        %li= link_to url, url
  %dt= Location.human_attribute_name :emails
  %dd
    %ul.list-unstyled
      - location.emails.each do |email|
        %li= link_to email, "mailto:#{email}"
  %dt= Location.human_attribute_name :admin_emails
  %dd
    %ul.list-unstyled
      - location.admin_emails.each do |email|
        %li= link_to email, "mailto:#{email}"
  %dt= Location.human_attribute_name :languages
  %dd
    %ul.list-unstyled
      - location.languages.each do |lang|
        %li= t "language.#{lang}"
  %dt= Location.human_attribute_name :accessibility
  %dd
    %ul.list-unstyled
      - location.accessibility.each do |accessibility|
        %li= t "accessibility.#{accessibility}"
  %dt= Location.human_attribute_name :address
  %dd= render partial: 'sfadmin/addresses/address', locals: { address: location.address }
  %dt= Location.human_attribute_name :contacts
  %dd
    %ul
      - location.contacts.each do |contact|
        %li= render partial: 'sfadmin/contacts/contact', locals: { contact: contact }
  %dt= Location.human_attribute_name :faxes
  %dd
    %ul
      - location.faxes.each do |fax|
        %li= render partial: 'sfadmin/faxes/fax', locals: { fax: fax }
  %dt= Location.human_attribute_name :mail_address
  %dd
    - if location.mail_address
      = render partial: 'sfadmin/mail_addresses/mail_address', locals: { mail_address: location.mail_address }
  %dt= Location.human_attribute_name :phones
  %dd
    %ul
      - location.phones.each do |phone|
        %li= render partial: 'sfadmin/phones/phone', locals: { phone: phone }
