%p
  - if phone.number_type
    #{phone.number_type}
    %br
  - if phone.vanity_number
    #{phone.vanity_number}
    %br
  #{phone.number}
  - if phone.extension
    ext. #{phone.extension}
  %br
  #{phone.department}