.panel.panel-default
  .panel-body
    %dl
      %dt= Phone.human_attribute_name(:number_type)
      %dd= phone.number_type
      %dt= Phone.human_attribute_name(:vanity_number)
      %dd= phone.vanity_number
      %dt= Phone.human_attribute_name(:number)
      %dd= phone.number
      %dt= Phone.human_attribute_name(:extension)
      %dd= phone.extension
      %dt= Phone.human_attribute_name(:department)
      %dd= phone.department
