- content_for :title, ImportJob.model_name.human

.container
  .row
    .col-md-12
      %h1.page-header= yield :title
      %dl
        %dt= ImportJob.human_attribute_name :created_at
        %dd= l @import_job.created_at
        %dt= ImportJob.human_attribute_name :aasm_state
        %dd= @import_job.aasm_state
        %dt= ImportJob.human_attribute_name :url
        %dd= @import_job.url
      - if @import_job.finished_job?
        %p= link_to t('.delete'), [ :sfadmin, @import_job ], class: 'btn btn-danger', method: :delete, data: { confirm: t('.confirm_delete') }
      - if @import_job.log && !@import_job.deleted_job?
        = render partial: 'log'
        