.panel.panel-default
  .panel-body
    %dl
      %dt= MailAddress.human_attribute_name(:attention)
      %dd= mail_address.attention
      %dt= MailAddress.human_attribute_name(:street)
      %dd= mail_address.street
      %dt= MailAddress.human_attribute_name(:city)
      %dd= mail_address.city
      %dt= MailAddress.human_attribute_name(:state)
      %dd= mail_address.state
      %dt= MailAddress.human_attribute_name(:zip)
      %dd= mail_address.zip
