<% content_for :title, @organization.name %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= aasm_validation_errors_for(@organization) %>
      <%= render @organization %>
      <h2 class="sub-header"><%= Location.model_name.human.pluralize %></h2>
      <% @organization.locations.includes(:services).each do |location| %>
        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">
              <%= link_to location.name, edit_sfadmin_organization_location_path(@organization, location) %>
            </h3>
          </div>

          <div class="panel-body">
            <%= aasm_validation_errors_for(location) %>
            <%= render location %>
          </div>

          <% location.services.each do |service| %>
            <div class="panel-heading">
              <%= service.name %>
            </div>

            <div class="panel-body">
              <%= aasm_validation_errors_for(service) %>
              <%= render service %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
