- content_for :title, @organization.name
.container
  .row
    .col-sm-12
      = aasm_validation_errors_for(@organization)
      = render @organization
      %h2.sub-header= Location.model_name.human.pluralize
      - @organization.locations.includes(:services).each do |location|
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              = location.name
              = link_to '(edit)', edit_sfadmin_organization_path(@organization.slug)
          .panel-body
            = aasm_validation_errors_for(location)
            = render location
          - location.services.each do |service|
            .panel-heading= service.name
            .panel-body
              = aasm_validation_errors_for(service)
              = render service
